<div class="container">
  <h2 class="mt-3">投稿一覧</h2>
  <div class="row align-items-center">
    <table class="col-lg table table-bordered mx-auto">
      <thead>
        <tr>
          <th style="width: 100px;">日時</th>
          <th style="width: 100px;">名前</th>
          <th style="width: 100px;">キャンプ場名</th>
          <th style="width: 150px;">住所</th>
        </tr>
      </thead>
      <tbody>
        <!-- @contacts.each do |contact| -->
        <tr>
          <td>2021/8/18</td>
          <td>name</td>
          <td>camp</td>
          <td>address</td>
        </tr>
        <!-- end -->
      </tbody>
    </table>
  </div>