<div class="container-lg-fluid">
  <div class="row cover-1 text-center mx-auto" style="height: 700px; padding: 150px 0 150px 0;">
    <div class="col-lg mb-5">
      <h1 class="title mx-auto mb-4">Camping Share Site</h1>
      <a>キャンプ好きのための検索サイト</a><br />
      <div style="margin-top: 60px;">
        <% if user_signed_in? %>
          <%= link_to "投稿する", new_content_path, class: "btn-lg btn-light" %>
        <% elsif %>

        <% end %>
      </div>
    </div>
  </div>
  <div class="row-lg text-center mx-auto">
    <h1>About</h1>
    <a>このサイトは、キャンプやアウトドアを趣味にしている方のために作ったサイトです。</a><br />
    <a>あなたが利用して良かったキャンプ場やあまり知られていないキャンプ場を共有することで</a><br />
    <a>みなさんのキャンプをより良いものにできたら幸いです！</a>
  </div>
</div>