<div class="container-lg-fluid">
  <div class="row cover-2 text-center mx-auto" style="height: 700px; padding: 150px 0 200px 0; background-color: rgba(255,250,220,1.0);">
    <div class="col-lg mb-5">
      <h1 class="title mx-auto mb-4">Camping Share Site</h1>
      <a>キャンプ好きのための検索サイト</a>
    </div>
  </div>
</div>